<div class="panel panel-default">
  <div class="panel-heading"><h4><%= t "views.users.show.head" %></h4></div>
    <div class="panel-body">

      <div class="box box-info">

        <div class="box-body">

          <div class="col-sm-6">
            <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
              <input id="profile-image-upload" class="hidden" type="file"><div style="color:#999;" ><%= t "views.users.show.click" %></div>
            </div>
            <br>
          </div>

        <div class="col-sm-6">
          <h4><%= @user.name %></h4></span>
        </div>

        <div class="clearfix"></div>
          <hr>

          <div class="col-sm-5 col-xs-6 tital " ><%= t "views.users.show.email" %>:</div><div class="col-sm-7"><%= @user.email %></div>
            <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " ><%= t "views.users.show.sex" %>:</div><div class="col-sm-7"><%= @user.sex %></div>
            <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " ><%= t "views.users.show.address" %>:</div><div class="col-sm-7"><%= @user.address %></div>

            <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " ><%= t "views.users.show.description" %>:</div><div class="col-sm-7"><%= @user.description %></div>

        </div>

      </div>

    </div>
  </div>
</div>
