<%= form_for :user, url: user_session_path, class: "login-inside" do |f| %>
  <%= f.text_field :email, class: "form-control"  %><br>
  <%= f.password_field :password, class: "form-control" %>
  <div class="modal-inline">
    <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span><%=t "views.sessions.new.remember" %></span>
    <% end %>&emsp;
  </div>
  <br>
  <br>
  <%= f.submit "Login", class: "btn btn-success" %>
<% end %>
